<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="MyTestSuite" parallel="classes" thread-count="3">
	

 
   
   <test name="UiLoginTest" >
        <classes>
            <class name = "learning.UiLoginTest"/> 
        </classes>
    </test>   
   
    <test name="UiLoginEdge">
        <classes>
            <class name = "learning.UILoginEdge"/> 
        </classes>
    </test>   
   
     <test name="UiLoginFirefox">
        <classes>
            <class name = "learning.UILoginFirefox"/> 
        </classes>
    </test>   
   
   
   
    
</suite>